* {
	padding: 0px;
	margin: 0px;
}

html {
	background: linear-gradient(to bottom, rgba(33,33,33,1) 18%,rgba(23,23,23,1) 68%,rgba(68,68,68,1) 93%);
	font-family: arial;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	background-color: white;
	font-size: 2em;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	padding: 1rem;
}

.header a {
	color: black;
	text-decoration: none;
}

.board-wrap {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	height: 100%;
}

.board {
	/*border-bottom: 1px solid #333;
	border-left: 1px solid #333;*/

	user-select: none;

	/*background: rgba(0,0,0,1);*/

	/*box-shadow: 5px 5px 5px #000000;*/
}

.row {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;
}

.cell {
	width: 50px;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	line-height: 15px;

	margin:2px;

	word-break: break-all;

	overflow: hidden;

	font-size: 21pt;

	background: rgba(0,0,0,1);
	color: rgba(255,255,255,0.75);

	/*text-shadow: 2px 2px 1px rgba(0,0,0,1);*/
	text-shadow: 0px 0px 12px rgba(255,255,255,1);
	/*letter-spacing: -5px;*/

	box-shadow: inset 0 0 10px #000000;

	transition: padding 0.2s ease-out;
}

.cell[data-owner="0"][data-value="1"] {background: rgba(255,0,0,0.2);}
.cell[data-owner="0"][data-value="2"] {background: rgba(255,0,0,0.4);}
.cell[data-owner="0"][data-value="3"] {background: rgba(255,0,0,0.6);}

.cell[data-owner="1"][data-owner="1"][data-value="1"] {background: rgba(0,0,255,0.2);}
.cell[data-owner="1"][data-value="2"] {background: rgba(0,0,255,0.4);}
.cell[data-owner="1"][data-value="3"] {background: rgba(0,0,255,0.8);}

.cell[data-owner="2"][data-value="1"] {background: rgba(0,255,0,0.1);}
.cell[data-owner="2"][data-value="2"] {background: rgba(0,255,0,0.3);}
.cell[data-owner="2"][data-value="3"] {background: rgba(0,255,0,0.6);}

.cell[data-owner="0"][data-value="-1"] {background: rgba(255,0,0,0.2);}
.cell[data-owner="0"][data-value="-2"] {background: rgba(255,0,0,0.4);}
.cell[data-owner="0"][data-value="-3"] {background: rgba(255,0,0,0.6);}

.cell[data-owner="1"][data-owner="-1"][data-value="1"] {background: rgba(0,0,255,0.2);}
.cell[data-owner="1"][data-value="-2"] {background: rgba(0,0,255,0.4);}
.cell[data-owner="1"][data-value="-3"] {background: rgba(0,0,255,0.8);}

.cell[data-owner="2"][data-value="-1"] {background: rgba(0,255,0,0.1);}
.cell[data-owner="2"][data-value="-2"] {background: rgba(0,255,0,0.3);}
.cell[data-owner="2"][data-value="-3"] {background: rgba(0,255,0,0.6);}

.cell[data-owner="0"][data-lit="true"],
.cell[data-owner="0"][data-exploding="true"] {
	background: rgba(255,200,200,1);
}
.cell[data-owner="1"][data-lit="true"],
.cell[data-owner="1"][data-exploding="true"] {
	background: rgba(200,200,255,1);	
}
.cell[data-owner="2"][data-lit="true"],
.cell[data-owner="2"][data-exploding="true"] {
	background: rgba(200,255,200,1);
}

.cell[data-exploding="true"] {
	border-radius: 5px;
	color: #AAA;
	margin:2px;
	padding:10px;
	border: none;
	/*text-shadow: 9px 7px 6px rgba(0,0,0,0.5);*/
	transition: all 0.1s ease-in;
}

.cell.chained:not([data-exploding="true"]) {
	color: rgba(255,255,255,1);
	/*text-shadow: 9px 7px 6px rgba(0,0,0,0.33);*/
	/*opacity: 0.75;*/
}

@keyframes flicker {
  from {color: color: rgba(255,255,255,1);}
  to {color: color: rgba(0,0,0,0..25);}
}

.cell:not(.chained) {
	filter: brightness(250%) contrast(150%);
}

.cell.chained {
	opacity: 0.75;
	animation: flicker 0.25s infinite;
	background-color: grey;
	color: black !important;
}

.lobby-welcome {
	text-align: left;
	background: #888;
	min-width: 400px;
}

.toast {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	top: 1.5em;
	right: 0.5em;
	z-index: 99999999999;
	pointer-events: none;

}

.toast:empty {
	
}

.toast .alert{
	background: rgba(0,0,0,0.6);
	color: white;
	font-size: 1.5em;
	margin-right: 0px;
	margin-left: auto;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	width: fit-content;
	text-align: right;
	border-radius: 15px;
	margin-bottom: 0.5em;
	border: 3px solid white;
}

/*.toast .alert {
	margin-top: 0.85em;
	margin-bottom: 0.25em;
}*/

.scoreboard {
	/*background: #888;*/
	width: 200px;
	text-align: center;
	color: white;
	font-size: 1.25em;
}

label,
label>input,
label>select,
label>button {
	display: block;
}

label>button, 
label>input[type="button"],
label>input[type="submit"] {
	float: right;
}

label:after {
	content: "";
	display: table;
	clear: both;
	height: 0px;
	visibility: none;
	display: block;
}

label {
	padding: 10px;
}

.lobby-welcome,
.scoreboard,
label {
	/*border-top: 1px solid #CCC;
	border-left:1px solid #AAA;
	border-right: 1px solid #999;
	border-bottom: 1px solid #666;*/
}

label input {
	border-left: 1px solid #999;
	border-top: 1px solid #666;	
	border-bottom: 1px solid #CCC;
	border-right:1px solid #AAA;
}

.lobby-content {
	padding: 10px;
}

.lobby-content a {
	font-family: monospace;
}

.turn-indicator {
	font-size: 3em;
	color:white;
	text-shadow: 0px 4px 0px #000;
	text-align: center;
	line-height: 0.75em;
}

.turn-indicator,
.scores {
	display: flex;
	justify-content: center;
}

.scores > * {
	padding: 0.25em;
}

.color-Red,
.turn-indicator > *:nth-child(1),
.scores > *:nth-child(1) {
	color: #F99;
}

.color-Blue,
.turn-indicator > *:nth-child(2),
.scores > *:nth-child(2) {
	color: #99F;
}


.color-Green,
.turn-indicator > *:nth-child(3),
.scores > *:nth-child(3) {
	color: #9F9;
}

button,
select,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"] {
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}