* {
	padding: 0px;
	margin: 0px;
}

html {
	/*background: linear-gradient(to bottom, rgba(66,66,66,1) 18%,rgba(128,128,128,1) 68%,rgba(33,33,33,1) 93%);*/
	background: #CCC;
	font-family: arial;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	background-color: white;
	font-size: 2em;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	padding: 1rem;
}

.header a {
	color: black;
	text-decoration: none;
}

.board-wrap {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	height: 100%;
}

.board {
	/*border-bottom: 1px solid #333;
	border-left: 1px solid #333;*/

	user-select: none;

	/*background: rgba(0,0,0,1);*/

	/*box-shadow: 5px 5px 5px #000000;*/
}

.row {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;
}

.cell {
	width: 4em;
	height: 4em;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	line-height: 0.75em;

	margin:2px;

	word-break: break-all;

	overflow: hidden;

	background: rgba(0,0,0,1);
	color: rgba(255,255,255,0.75);

	/*text-shadow: 2px 2px 1px rgba(0,0,0,1);*/
	text-shadow: 0px 0px 12px rgba(255,255,255,1);
	/*letter-spacing: -5px;*/

	box-shadow: inset 0 0 10px #000000;

	transition: padding 0.2s ease-out;

	position: relative;

	overflow: visible;

	border-radius: 5px;
}

.cell[data-owner="0"][data-value="1"] {background: rgba(33,0,0,1);}
.cell[data-owner="0"][data-value="2"] {background: rgba(44,0,0,1);}
.cell[data-owner="0"][data-value="3"] {background: rgba(66,0,0,1);}

.cell[data-owner="1"][data-value="1"] {background: rgba(0,0,33,1);}
.cell[data-owner="1"][data-value="2"] {background: rgba(0,0,44,1);}
.cell[data-owner="1"][data-value="3"] {background: rgba(0,0,66,1);}

.cell[data-owner="2"][data-value="1"] {background: rgba(0,33,0,1);}
.cell[data-owner="2"][data-value="2"] {background: rgba(0,44,0,1);}
.cell[data-owner="2"][data-value="3"] {background: rgba(0,66,0,1);}

.cell[data-owner="0"][data-value="-1"] {background: rgba(33,0,0,1);}
.cell[data-owner="0"][data-value="-2"] {background: rgba(44,0,0,1);}
.cell[data-owner="0"][data-value="-3"] {background: rgba(66,0,0,1);}

.cell[data-owner="1"][data-value="-1"] {background: rgba(0,0,255,0.2);}
.cell[data-owner="1"][data-value="-2"] {background: rgba(0,0,255,0.4);}
.cell[data-owner="1"][data-value="-3"] {background: rgba(0,0,255,0.8);}

.cell[data-owner="2"][data-value="-1"] {background: rgba(0,255,0,0.1);}
.cell[data-owner="2"][data-value="-2"] {background: rgba(0,255,0,0.3);}
.cell[data-owner="2"][data-value="-3"] {background: rgba(0,255,0,0.6);}

.cell[data-value="4"]{
	filter: brightness(250%) contrast(150%);
	background-color: #CCC;
}

.cell[data-owner="0"][data-value="4"][data-lit="true"],
.cell[data-owner="0"][data-exploding="true"] {
	background: rgba(255,200,200,1);
}
.cell[data-owner="1"][data-value="4"][data-lit="true"],
.cell[data-owner="1"][data-exploding="true"] {
	background: rgba(200,200,255,1);	
}
.cell[data-owner="2"][data-value="4"][data-lit="true"],
.cell[data-owner="2"][data-exploding="true"] {
	background: rgba(200,255,200,1);
}

.cell[data-exploding="true"] {
	border-radius: 5px;
	color: #AAA;
	margin:2px;
	border: none;
	text-shadow: 9px 7px 6px rgba(0,0,0,0.5);
	transition: all 0.15s ease-out;
}

.cell.chained:not([data-exploding="true"]) {
	color: rgba(255,255,255,1);
	/*text-shadow: 9px 7px 6px rgba(0,0,0,0.33);*/
	/*opacity: 0.75;*/
}

@keyframes flicker {
  from {color: color: rgba(255,255,255,1);}
  to {color: color: rgba(0,0,0,0..25);}
}

.cell:not(.chained) {
	filter: brightness(250%) contrast(150%);
	/*transition: all 0.15s ease-in;*/
}
.cell {
	transition:
		background-color 0.5s 0.1s ease-out
		, filter 0.5s 0.1s ease-out
		, padding 0.1s 0.1s ease-in;
}

.cell[data-value="0"][data-exploding="true"] {
	font-size: 1.5em;
}

.cell[data-exploding="true"] .score-pop{
	/*font-size: 2.5em;*/
	text-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

.cell.chained[data-exploding="false"] {
	/*opacity: 0.75;*/
	animation: flicker 0.25s infinite;
/*	transition:
		background-color 0.5s ease-in
		, filter 0.5s ease-in
		, padding 0.1s 0.1s ease-in;*/
}

.cell .particles{
	font-family: monospace;
	font-size: 1.75em;
	width: 2.25em;
	display: block;
}

.cell.chained[data-exploding="false"] .particles{
	color: black;
}

.cell.chained[data-exploding="false"][data-value="0"]{
	background-color: grey;
}

.lobby-welcome {
	text-align: left;
	background: #888;
	min-width: 400px;
}

.toast {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	top: 1.5em;
	right: 0.5em;
	z-index: 99999999999;
	pointer-events: none;

}

.toast:empty {
	
}

.toast .alert{
	background: rgba(0,0,0,0.6);
	color: white;
	font-size: 1.5em;
	margin-right: 0px;
	margin-left: auto;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	width: fit-content;
	text-align: right;
	border-radius: 15px;
	margin-bottom: 0.5em;
	border: 3px solid white;
}

/*.toast .alert {
	margin-top: 0.85em;
	margin-bottom: 0.25em;
}*/

.scoreboard {
	/*background: #888;*/
	width: 200px;
	text-align: center;
	/*color: white;*/
	font-size: 1.25em;
}

.scoreboard button{
	background: black;
	color: white;
	border: none;
	border-radius: 5px;
}

label,
label>input,
label>select,
label>button {
	display: block;
}

label>button, 
label>input[type="button"],
label>input[type="submit"] {
	float: right;
}

label:after {
	content: "";
	display: table;
	clear: both;
	height: 0px;
	visibility: none;
	display: block;
}

label {
	padding: 10px;
}

.lobby-welcome,
.scoreboard,
label {
	/*border-top: 1px solid #CCC;
	border-left:1px solid #AAA;
	border-right: 1px solid #999;
	border-bottom: 1px solid #666;*/
}

label input {
	border-left: 1px solid #999;
	border-top: 1px solid #666;	
	border-bottom: 1px solid #CCC;
	border-right:1px solid #AAA;
}

.lobby-content {
	padding: 10px;
}

.lobby-content a {
	font-family: monospace;
}

.turn-indicator {
	font-family: monospace;
	font-size: 2rem;
	color:white;
	/*text-shadow: 0px 4px 0px #000;*/
	text-align: center;
	/*line-height: 0.75em;*/
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.turn-indicator,
.scores {
	display: flex;
	justify-content: center;
}

.scores > * {
	padding: 0.25em;
}

.color-Red,
.turn-indicator > *:nth-child(1),
.scores > *:nth-child(1) {
	color: #A00;
}

.color-Blue,
.turn-indicator > *:nth-child(2),
.scores > *:nth-child(2) {
	color: #00A;
}


.color-Green,
.turn-indicator > *:nth-child(3),
.scores > *:nth-child(3) {
	color: #0A0;
}

button,
select,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"] {
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.cell .score-pop {
	position: absolute;
	left: 0px;
	width: 100%;
	font-size: 0.75em;
	line-height: 1em;
	transition: 0s;
	bottom: 0%;
	white-space: nowrap;
	text-align: center;
	z-index: 999;
	font-size: 1.5em;
}

.cell.changed .score-pop {
	bottom: 25%;
	opacity: 1;
	pointer-events: none;
	/*transition: all 0s ease-out;*/
}

.cell.not .score-pop {
	white-space: nowrap;
	bottom: 250%;
	opacity: 0;
	pointer-events: none;
	transition: all 0.25s 0.85s ease-out;
	font-weight: bold;
}

.cell .score-pop span {
	text-shadow: 2px 2px 0px #000 !important;
	text-align: center;
}

.cell .score-pop span[data-owner="0"]{
	color: #FCC;
}
.cell .score-pop span[data-owner="1"]{
	color: #CCF;
}
.cell .score-pop span[data-owner="2"]{
	color: #CFC;
}


/*}
.cell[data-owner="1"][data-value="4"][data-lit="true"],
.cell[data-owner="1"][data-exploding="true"] {
	background: rgba(200,200,255,0.8);	
}
.cell[data-owner="2"][data-value="4"][data-lit="true"],
.cell[data-owner="2"][data-exploding="true"] {
	background: rgba(200,255,200,0.8*/